/* Reset e Layout geral */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    height: 100vh;
}

/* NAVBAR SUPERIOR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px; /* Altura da navbar */
    background: linear-gradient(90deg, #1ea44e, #15913e); /* Cor de fundo */
    display: flex;
    justify-content:  space-between ;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    color: white;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.logo span {
    color: #d4ffd9;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    gap: 20px; 
    margin: 10;
    padding: 10;
    }
.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
    color: #d4ffd9;
    transform: scale(1.05);
}

/* SIDEBAR LATERAL */
.sidebar {
    position: fixed;
    top: 65px; /* ajustado para começar logo após a navbar */
    left: 0;
    width: 200px;
    height: calc(100vh - 65px); /* altura ajustada para evitar que sobreponha a navbar */
    background-color: #f1f1f1;
    color: #1ea44e;
    padding-top: 20px;
    z-index: 4;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #1ea44e;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #fff;
    background-color: #1ea44e;
}

/* CONTEÚDO PRINCIPAL */
.content {
    margin-left: 200px;
    margin-top: 65px; /* evita sobrepor o conteúdo à navbar */
    padding: 40px;
    height: calc(100vh - 65px);
}
